.def-container {
  padding: 45rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.def-container h2 {
  font-size: 3rem;
}

.login-btn {
  border: 1px solid #74b816;
  background: #74b816;
  padding: 0.6em 1.2em;
  color: #e9fac8;
  border-radius: 5px;
}

.login-btn:hover {
  background: #66a80f;
  color: #e9fac8;
}
