html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* height: 100vh; */
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
#root {
  height: 100%;
} */

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #343a40;
}

main {
  grid-area: main;
}

/* common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3bc9db;
}
/* New Style added */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}

button:hover {
  /* border: 0.1rem #404040 solid; */
  background-color: #343a40;
}

button.primary {
  /* background-color: #f0c040; */
  background-color: #fcc419;
}

button.primary:hover {
  background-color: #343a40;
  color: white;
}

button.block {
  width: 100%;
}
